<div id="Round<%= uiRoundIndex+1%>_<%= bFromLeft && !bLastRound ? "Left" : "Right" %>" class="Round">

	<% case uiRoundIndex+1 %>
	<% when 1 %>
		<% sHeaderText = "Second Round" %>
		<% sHeaderDesc = "March 21-22" %>
	<% when 2 %>
		<% sHeaderText = "Third Round" %>
		<% sHeaderDesc = "March 23-24" %>
	<% when 3 %>
		<% sHeaderText = "Sweet 16" %>
		<% sHeaderDesc = "March 28-29" %>
	<% when 4 %>
		<% sHeaderText = "Elite 8" %>
		<% sHeaderDesc = "March 30-31" %>
	<% when 5 %>
		<% sHeaderText = "Final Four" %>
		<% sHeaderDesc = "April 6" %>
	<% when 6 %>
		<% sHeaderText = "Championship" %>
		<% sHeaderDesc = "April 8" %>
	<% end %>

	<div class="RowHeader Label">
		<div><%= sHeaderText %></div>
	</div>

	<div class="RowHeader Desc">
		<div><%= sHeaderDesc %></div>
	</div>

	<% if (!bLastRound) %>
		<% uiTopTeamCriteria = 2**uiRoundIndex %>
		<% uiBottomTeamCriteria = 2**uiRoundIndex + 2**(uiRoundIndex + 1) %>
	<% else %>
		<% uiTopTeamCriteria = 2**uiRoundIndex - 4 %>
		<% uiBottomTeamCriteria = 2**uiRoundIndex + 4 %>
		<% uiChampionCriteria = 2**uiRoundIndex %>
	<% end %>

	<% uiEndCriteria = 2**(uiRoundIndex+2) %>

	<% (0..uiRowsToDo).each do |uiRowIndex| %>

		<% sDivText = "" %>
		<% uiMatchRow = uiRowIndex % uiEndCriteria %>
		<% sWhichSide = (bFromLeft ? "FromLeft " : "FromRight ") %>
		<% sClasses = "Row" + uiMatchRow.to_s + " " + (!bLastRound ? sWhichSide + " " : "") %>

		<% if (bLastRound) %>
			<% case uiMatchRow %>
			<% when uiTopTeamCriteria-1 %>
				<% sClasses += "TopTeam FromLeft LastRound Droppable" %>
				<% sDivText += (bFillAll || bDraggable) ? rounds[uiRoundIndex][uiTeamIndex].get_teamA.get_short_name : ""%>
			<% when uiBottomTeamCriteria-1 %>
				<% sClasses += "BottomTeam FromRight LastRound Droppable" %>
				<% sDivText += (bFillAll || bDraggable) ? rounds[uiRoundIndex][uiTeamIndex].get_teamB.get_short_name : ""%>
			<% when uiChampionCriteria-1 %>
				<% sClasses += "ChampionTeam Desc" %>
				<% sDivText += "Champion" %>
			<% when uiChampionCriteria %>
				<% sClasses += "ChampionTeam Winner Droppable" %>
				<% sDivText += (bFillAll || bDraggable) ? champ.get_short_name : ""%>
			<% else %>
				<% sClasses += "Gap" %>
			<% end %>
		<% else %>
			<% case uiMatchRow %>
			<% when uiTopTeamCriteria-1 %>
				<% sClasses += "TopTeam " %>
				<% sClasses += bDraggable ? "Draggable " : "Droppable " %>  
				<% sDivText += (bFillAll || bDraggable) ? rounds[uiRoundIndex][uiTeamIndex].get_teamA.get_short_name : "" %>
			<% when uiBottomTeamCriteria - 1 %> 
				<% sClasses += "BottomTeam " %>
				<% sClasses += bDraggable ? "Draggable " : "Droppable " %>  
				<% sDivText += (bFillAll || bDraggable) ? rounds[uiRoundIndex][uiTeamIndex].get_teamB.get_short_name : "" %>
			<% when uiTopTeamCriteria..uiBottomTeamCriteria - 2 %>
				<% sClasses += "Fill " %>
			<% when (uiEndCriteria - 1) %>
				<% sClasses += "Gap " %>
				<% uiTeamIndex += 1 %>
			<% else %>
				<% sClasses += "Gap " %>
			<% end %>
		<% end %>
		
		<div class="<%= sClasses %>">
			<div><%= truncate(sDivText, :length => 12) %></div>
		</div>

	<% end %>
</div>