<% content_for :head do %>
	<div class="TopHeader">2013 NCAA Bracket</div>
<% end %>

<div id="BracketGen">
	<div class="Overlays">
		<%= image_tag "2013-final-four-logo.jpg", :class => "BracketLogo" %>
		<div id="Overlay_South" class="ConfLabel">South</div>
		<div id="Overlay_West" class="ConfLabel">West</div>
		<div id="Overlay_East" class="ConfLabel">East</div>
		<div id="Overlay_Midwest" class="ConfLabel">Midwest</div>
		<div id="Overlay_Score" class="Score">
			<span class="label">Score: </span>
			<span class="value">900</span>
		</div>
	</div>

	<div class="Rounds">
	<% uiRows = @teams.length * 4%>

	<% uiLastRoundIndex = @rounds.length-1 %>
	<% for uiRoundIndex in 0.upto(uiLastRoundIndex) %>
		
		<%= render :partial => "round", :locals => {
			:rounds => @rounds,
			:champ => @champ,
			:uiTeamIndex => 0,
			:uiRoundIndex => uiRoundIndex,
			:bLastRound => uiRoundIndex == uiLastRoundIndex,
			:bFromLeft => true,
			:uiRowsToDo => uiRows/2-1,
			:bDraggable => true, #uiRoundIndex == 0,
			:bDroppable => uiRoundIndex != 0,
			:bUseName => uiRoundIndex == 0,
			:bFillAll => !@bBlank} %>

	<% end %>

	<% uiLastRoundIndex = @rounds.length-2 %>
	<% for uiRoundIndex in uiLastRoundIndex.downto(0) %>

		<%= render :partial => "round", :locals => {
			:rounds => @rounds,
			:champ => @champ,
			:uiTeamIndex => @rounds[uiRoundIndex].length / 2,
			:uiRoundIndex => uiRoundIndex,
			:bLastRound => false,
			:bFromLeft => false,
			:uiRowsToDo => uiRows/2-1,
			:bDraggable => true, #uiRoundIndex == 0,
			:bDroppable => uiRoundIndex != 0,
			:bUseName => uiRoundIndex == 0,
			:bFillAll => !@bBlank} %>

	<% end %>

	</div>
</div>

<form id="auto_fill_form" action="/brackets/generate" method="post">
	<textarea cols="100" rows="15" id="data_seed" name="data_seed" style="float: left"><%= @seed %></textarea>
	<input type="checkbox" id="auto_fill" name="auto_fill" value="true" checked="false">Auto Fill?</input>
</form>
<div style="float: right" >
	<a href="#" class="ContextIcon" onclick="Application.UndoAutoFillClick(event);">
		<%= image_tag "refresh.png", :width => "50px", :style => "margin-top: 50px; " %>
		<div style="clear: both; font-size: .8em; font-weight: bold;">
			Undo AutoComplete
		</div>
	</a>
</div>
<div style="float: right" >
	<a href="#" class="ContextIcon" onclick="Application.RetryAutoFillClick(event);">
		<%= image_tag "refresh.png", :width => "50px", :style => "margin-top: 50px; " %>
		<div style="clear: both; font-size: .8em; font-weight: bold;">
			Retry AutoComplete
		</div>
	</a>
</div>


