<!DOCTYPE html>
<html>
<head>
  <title>BracketGen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #B6C9FF">
	<div id="content">
		<div id="header" style="height: 20px; color: black; font-weight: bold">
			<span />
		</div>
		<div id="main" style="clear: both" >
			<div id="main_left" style="float: left; width: 100px; color: black;">
				<div style="position: relative; width: 100px; top: 60px;">
						<%= yield :head %>
				</div>
			</div>
			<div id="main_middle">
				<%= yield %>
			</div>
			<div id="main_right" style="float: left; width: 50px; margin-left: 10px;">
				<div>
					<a href="#" onclick="Application.printme();" class="ContextIcon">
						<%= image_tag "printer.png", :width => "50px", :style => "margin-top: 50px;"%>
						<div style="clear: both; font-size: .8em; font-weight: bold;">
							Print
						</div>
					</a>
				</div>
				<div>
					<a href="<%= url_for(:controller=>"brackets", :action => "generate", :blank=> true) %>" class="ContextIcon">
						<%= image_tag "refresh.png", :width => "50px", :style => "margin-top: 50px; " %>
						<div style="clear: both; font-size: .8em; font-weight: bold;">
							Blank Bracket
						</div>
					</a>
				</div>
				<div>
					<a href="#" class="ContextIcon" onclick="Application.onAutoFillClick(event);">
						<%= image_tag "refresh.png", :width => "50px", :style => "margin-top: 50px; " %>
						<div style="clear: both; font-size: .8em; font-weight: bold;">
							Fill In Bracket
						</div>
					</a>
				</div>
				<div>
					<a href="#" class="ContextIcon" onclick="Application.UndoAutoFillClick(event);">
						<%= image_tag "refresh.png", :width => "50px", :style => "margin-top: 50px; " %>
						<div style="clear: both; font-size: .8em; font-weight: bold;">
							Undo
						</div>
					</a>
				</div>
				<div>
					<a href="<%=url_for(:controller=>"brackets", :action => "info") %>" class="ContextIcon">
						<%= image_tag "info.png", :width => "50px", :style => "margin-top: 50px; " %>
						<div style="clear: both; font-size: .8em; font-weight: bold;">
							Info
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
