<!DOCTYPE html>
<html>
<head>
  <title>BracketGen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #B6C9FF">
	<div id="content">
		<div id="header" style="height: 50px; color: black; font-weight: bold">
			<span />
		</div>
		<div id="main" style="clear: both" >
			<div id="main_left" style="float: left; width: 150px; color: black;">
				<div style="width: 150px;">
				</div>
				<div style="position: relative; width: 150px; top: 50px;">
						<%= yield :head %>
				</div>
			</div>
			<div id="main_middle"><%= yield %></div>
			<div id="main_right" style="float: left; width: 50px; margin-left: 10px; margin-top: 50px;">
				<div>
					<%= image_tag "printer.png", :width => "50px" %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
